<section class="bg-light p-5 rounded-4 principal" >
  <h1 class="fw-bolder">Mis Contratistas</h1>
  <table class="table table-bordered">
    <thead class="text-center fw-bolder">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Ocupacion</th>
        <th>Telefono</th>
        <th>Domicilio</th>
        <th>Informacion</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let contratista of arrayRecibido" class="info">
        <th>{{contratista.nombre}}</th>
        <th>{{contratista.edad}}</th>
        <th>{{contratista.ocupacion}}</th>
        <th>{{contratista.telefono}}</th>
        <th>{{contratista.domicilio}}</th>
        <th><button class="btn_action ver" (click)="obtenerinfo(contratista.idContratista)"><i class="bi bi-eye-fill"></i></button></th>
        <th><button class="btn_action editar" data-bs-target="#editar" data-bs-toggle="modal" (click)="agregarinfo(contratista.idContratista)"><i class="bi bi-pencil-fill"></i></button></th>
        <th><button class="btn_action eliminar" (click)="eliminar(contratista.idContratista)"><i class="bi bi-trash-fill"></i></button></th>
      </tr>
    </tbody>
  </table>
</section>
<div class="overlay z-2" *ngIf="cargando"></div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3" *ngIf="cargando">
  <h3>Cargando</h3>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- Modal  --->
<div class="modal fade" id="editar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editar">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo contratista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar3"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="formContratista" (ngSubmit)="editarcontratista()">
          <input type="hidden" placeholder="Ingresa el nombre del contratista" formControlName="id" name="id">
          <div class="mb-3 formulario-group">
            <label for="NombreContrato">Nombre del contratista</label>
            <input type="text" placeholder="Ingresa el nombre del contratista" formControlName="nombre" name="nombre">
          </div>
          <div class="row mb-3">
            <div class="col formulario-group">
              <label for="NombreContrato">Edad</label>
              <input type="number" placeholder="Ingresa la edad del contratista" formControlName="edad" name="edad">
            </div>
            <div class="col formulario-group">
              <label for="NombreContrato">Ocupacion</label>
              <input type="text" placeholder="Ingresa la Ocupacion del contratista" formControlName="ocupacion" name="ocupacion">
            </div>
          </div>
          <div class="mb-3 formulario-group">
            <label for="Lugar">Domicilio</label>
            <input type="text" name="" id="" placeholder="Ingresa el domicilio del contratista" formControlName="domicilio" name="domicilio">
          </div>
          <div class="mb-3 formulario-group">
            <label for="Telefono">Telefono</label>
            <input type="text" name="" id="" placeholder="Ingresa el Telefono del contratista" formControlName="telefono" name="telefono">
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Editar contratista</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<button data-bs-target="#informacion" data-bs-toggle="modal" id="abrir" style="display: none;"></button>
<!-- Modal Informacion --->
<div class="modal fade" id="informacion" data-bs-backdrop="static" tabindex="-1" aria-labelledby="informacion">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Información del contratista: {{nombre}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar3"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <h5>Total de contratos:</h5>
          <p class="fw-light">{{totalContratos}}</p>
          <h5 class="text-center">Status de contratos activos</h5>
          <div class="col d-flex justify-content-center">
            <ngx-charts-pie-chart
              [results]="graficaDatos"
              [explodeSlices]="false"
              [labels]="true"
              [doughnut]="false"
              [gradient]="true"
              [view]="[450, 450]">
            </ngx-charts-pie-chart>
          </div>
          <h5>Total de ganancias con el contratista:</h5>
          <p class="fw-light">$ {{totalGanancia}}</p>
          <h5 class="text-center">Ganancias por contrato</h5>
          <div class="col d-flex justify-content-center">
            <ngx-charts-bar-vertical
              [results]="graficaIngresos"
              [xAxis]="true"
              [yAxis]="true"
              [showDataLabel]="true">
            </ngx-charts-bar-vertical>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Terminar</button>
      </div>
    </div>
  </div>
</div>
