<section class="bg-light p-5 rounded-4 principal" >
  <h1 class="fw-bolder">Mis Contratistas</h1>
  <table class="table table-bordered">
    <thead class="text-center fw-bolder">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Ocupacion</th>
        <th>Telefono</th>
        <th>Domicilio</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th>Contratista 1</th>
        <th>Edad chida</th>
        <th>Ocupacion</th>
        <th>Telefono</th>
        <th>Domicilio</th>
        <th><button>Editar</button></th>
        <th><button>Eliminar</button></th>
      </tr>
    </tbody>
  </table>
</section>
<div class="overlay z-2" *ngIf="cargando"></div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3" *ngIf="cargando">
  <h3>Cargando</h3>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
