.bg_principal{
  background-color: #BACBF1;
}
.bg-secundario{
  background-color: rgba(89, 93, 102, 32%);
  color: white;
}
.bg-secundario p{
  margin-bottom: 0.25rem;
}
.volver{
  width: 75px;
  height: 50px;
}
.funciones{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}
.bg_secundario2{
  background-color: rgba(89, 93, 102, 32%);

}
.precios p{
  font-size: 20px;
}
