<div class="row gap-4">
  <div class="col-md-8 bg-white principal p-5 ">
    <div class="d-flex align-items-end">
      <a href="/contratos" class="volver"> <i class="bi bi-arrow-left-short"></i> Volver</a>
      <h2 class="ms-3 mb-0 ">Calendario</h2>
    </div>

    <div class="container_cal">
          <!-- Calendario -->
      <div class="calendar">
        <div class="calendar-navigation">
          <button class="btn btn-prev" (click)="prevMonth()" [disabled]="!canNavigateBack()">
            <i class="bi bi-caret-left"></i>
          </button>
          <span class="month-label">{{ getMonthName() }} {{ currentYear }}</span>
          <button class="btn btn-next" (click)="nextMonth()" [disabled]="!canNavigateForward()">
            <i class="bi bi-caret-right"></i>
          </button>
        </div>
        <!-- Encabezado con los días de la semana -->
        <div class="days-header">
          <div *ngFor="let day of daysOfWeek" class="day-header">{{ day }}</div>
        </div>

        <!-- Cuerpo del calendario -->
        <div class="days-container">
          <ng-container *ngFor="let day of daysInMonth">
            <div
              class="day rounded-circle"
              [ngStyle]="{ 'background-color': getContractColor(day) }"
              [class.contract-end]="isContractEndDay(day)"
              *ngIf="day !== null"
              [attr.title]="getContractNames(day).join(', ')"
            >
              <div class="day-box">
                {{ day }}
              </div>
            </div>
            <div class="empty-day" *ngIf="day === null"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 bg-white p-3 principal">
    <h2 class="text-center">Contratos</h2>
    <div *ngFor="let contrato of contratos" [ngStyle]="{'background-color': contrato.contrato_data.color}" class="p-4 rounded-4 my-2" >
      <div class="row">
        <p class="col-6">Fecha de entrega: {{contrato.contrato_data.fecha_entrega}}</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="vista/:{{contrato.contrato_data.idContrato}}">Editar</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="eliminar(contrato.contrato_data.idContrato)">Eliminar</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center"><a href="vista/:{{contrato.contrato_data.idContrato}}" class="text-decoration-underline text-dark">{{contrato.contrato_data.nombre}}</a></h3>
      <p class="text-center text-body-tertiary fs-5" >{{contrato.contrato_data.tipo}}</p>
    </div>
  </div>
</div>
<div class="overlay z-2" *ngIf="cargando"></div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3" *ngIf="cargando">
  <h3>Cargando</h3>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
