<section class="bg-white p-4 rounded-4">
  <div class="row row-cols-2 justify-content-between">
    <h1 class="col text-start fw-bolder">Contratos</h1>
    <h1 class="col text-end">Julio, 01</h1>
    <div class="col row">
      <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="col-1 bi bi-plus-circle-fill"
        style="font-size: 35px;"></i>
      <div class="col-10 row">
        <div class="col-auto">
          <h5 class="fw-bolder">65</h5>
          <p class="fw-light">En proceso</p>
        </div>
        <div class="col-auto">
          <h5 class="fw-bolder">12</h5>
          <p class="fw-light">Por comenzar</p>
        </div>
        <div class="col-auto">
          <h5 class="fw-bolder">82</h5>
          <p class="fw-light">Total de Proyectos</p>
        </div>
      </div>
    </div>
    <div class="col text-center row justify-content-end">
      <div class="col-auto filtroA">
        <i class="bi bi-justify-right"></i>
      </div>
      <div class="col-auto filtro">
        <i class="bi bi-grid"></i>
      </div>
    </div>
  </div>
  <div class="row ps-3">
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal  --->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar contrato nuevo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formGroup" (ngSubmit)="OnSubmit()">
          <div class="mb-3 form-group">
            <label for="NombreContrato">Nombre del contrato</label>
            <input type="text" formControlName="nombre" placeholder="Ingresa el nombre del usuario">
          </div>
          <div class="row mb-3">
            <div class="col form-group">
              <label for="">Tipo de contrato</label>
              <select formControlName="tipo">
                <option value="">Servicio</option>
              </select>
            </div>
            <div class="col">
              <label for="">Eligue un color para tu contrato</label>
              <div class="color-options">
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#FEE4CB">
                  <div class="color-circle" style="background-color: #FEE4CB;"></div>
                  <span>Color 1</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#FFD3E2">
                  <div class="color-circle" style="background-color: #FFD3E2;"></div>
                  <span>Color 2</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#E9E7FD">
                  <div class="color-circle" style="background-color: #E9E7FD;"></div>
                  <span>Color 3</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#C8F7DC">
                  <div class="color-circle" style="background-color: #C8F7DC;"></div>
                  <span>Color 4</span>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label for="lugar">Lugar</label>
            <input type="text" formControlName="lugar" id="" placeholder="Ingresa el lugar del contrato">
          </div>
          <div class="row mb-3">
            <div class="col form-group">
              <label for="">Fecha de inicio del contrato</label>
              <input type="date" formControlName="fecha_inicio" id="">
            </div>
            <div class="col form-group">
              <label for="">Fecha de entrega del contrato</label>
              <input type="date" formControlName="fecha_entrega" id="">
            </div>
          </div>
          <div class="mb-3 form-group">
            <p>Si no tienes contratista puedes crear uno dando click <a class="agregar" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"> Aqui</a></p>
            <label for="">Contratista</label>
            <select formControlName="id_contratista" id="">
              <option value="">Contratista 1</option>
            </select>
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Crear contrato</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="enviar">Agregar nuevo contratista</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  --->
<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalToggleLabel2"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo contratista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3 form-group">
            <label for="NombreContrato">Nombre del contratista</label>
            <input type="text" placeholder="Ingresa el nombre del contratista">
          </div>
          <div class="row mb-3">
            <div class="col form-group">
              <label for="NombreContrato">Edad</label>
              <input type="number" placeholder="Ingresa la edad del contratista">
            </div>
            <div class="col form-group">
              <label for="NombreContrato">Ocupacion</label>
              <input type="text" placeholder="Ingresa la Ocupacion del contratista">
            </div>
          </div>
          <div class="mb-3 form-group">
            <label for="Lugar">Domicilio</label>
            <input type="text" name="" id="" placeholder="Ingresa el domicilio del contratista">
          </div>
          <div class="mb-3 form-group">
            <label for="Telefono">Telefono</label>
            <input type="text" name="" id="" placeholder="Ingresa el Telefono del contratista">
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Agregar contratista</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
