<section class="bg-white p-4 rounded-4">
  <div class="row row-cols-2 justify-content-between">
    <h1 class="col text-start fw-bolder">Contratos</h1>
    <h1 class="col text-end">Julio, 01</h1>
    <div class="col row">
      <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="col-1 bi bi-plus-circle-fill"
        style="font-size: 35px;"></i>
      <div class="col-10 row">
        <div class="col-auto">
          <h5 class="fw-bolder">65</h5>
          <p class="fw-light">En proceso</p>
        </div>
        <div class="col-auto">
          <h5 class="fw-bolder">12</h5>
          <p class="fw-light">Por comenzar</p>
        </div>
        <div class="col-auto">
          <h5 class="fw-bolder">82</h5>
          <p class="fw-light">Total de Proyectos</p>
        </div>
      </div>
    </div>
    <div class="col text-center row justify-content-end">
      <div class="col-auto filtroA">
        <i class="bi bi-justify-right"></i>
      </div>
      <div class="col-auto filtro">
        <i class="bi bi-grid"></i>
      </div>
    </div>
  </div>
  <div class="row ps-3">
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
    <div class="cards rounded-4 bgcontrato p-3 me-2 mt-2">
      <div class="row row-cols-2 justify-content-between px-3">
        <p class="col fw-light">Fecha de entrega</p>
        <div class="col text-end dropend">
          <i class="bi bi-three-dots-vertical w-auto pe-0 dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
            aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>
      </div>
      <h3 class="text-center">01 Contrato</h3>
      <p class="text-center fw-light">Tipo de Paquete</p>
      <div class="px-2">
        <p class="mt-3 mb-0">Progreso</p>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar colorbar" style="width: 60%"></div>
        </div>
        <p class="text-end">60%</p>
      </div>
      <div class="row row-cols-2 justify-content-between px-3">
        <i class="bi bi-plus-circle-fill col" style="font-size: 25px;"></i>
        <div class="col rounded-pill bg-restantes d-flex align-items-center justify-content-center">
          <p class="mb-0">2 días faltantes</p>
        </div>
      </div>
    </div>
  </div>
</section>



