nav{
}

.container_img{
  width: 60px;
  height: 60px;
  background: linear-gradient(328deg, rgba(255, 255, 255, 1) 6%, rgba(107, 145, 242, 0.4906337535014006) 45%);
  backdrop-filter: blur(10px); /* Aplica desenfoque al fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores basados en WebKit */
  box-shadow: -1px 6px 15px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.container_img img{
  max-width: 45px;
  max-height: auto;
}
.titulo{
  font-weight: bolder;
  font-size: 25px;
}
.input_busqueda, .input_busqueda:focus,.input_busqueda::placeholder{
  border: none;
  outline: 0.5px;
  width: 95%;
  padding: .8%;
  font-size: 12px;
  border-radius: 20px;
}

.iconos_menu{
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
.container_perfil{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item{
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 25px;
}
.menu-item a{
  color: black;
  transition: background-color 1s ease-out;
}
.menu-item a:hover{
  color: #007bff;
}
/* Clase para desenfocar el contenido fuera del modal */
.blur-background {
  filter: blur(5px);
}
