<nav class="mb-2">
  <div class="row ps-md-5 py-md-4 py-3 ps-1 w-100 mx-auto align-content-center">
    <div class="col-md-6 col-6 d-flex align-items-center ">
      <a href="/contratos">
        <div class="container_img">
          <img src="Logo.png" alt="" class="img-fluid">
        </div>
      </a>
      <h1 class="ms-3 titulo fs-md-1 fs-3 fw-bolder"><a href="/contratos" class="text-dark text-decoration-none">Sign Sync</a></h1>
    </div>
    <div class="col-md-6 col-6 d-flex ps-md-4 py-md-4 justify-content-end my-2 my-md-0 acomodo align-items-sm-end">
      <div class="col-md-4 iconos_menu">
        <i class="bi bi-person-plus mx-1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2"></i>
        <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="bi bi-plus-circle mx-1"></i>
        <i class="bi bi-bell mx-1 position-relative" data-bs-toggle="offcanvas" data-bs-target="#notificaciones" aria-controls="notificaciones" type="button"></i>
      </div>
      <div class=" d-flex align-items-center me-4 ps-2 separar">
        <div class="container_perfil rounded-circle">
          <img src="user.png" alt="" class="w-100 rounded-circle">
        </div>
        <div class="dropdown">
          <p class="m-0 ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="user-select: none">
            {{usuario}}
          </p>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/miperfil">Mi perfil</a></li>
            <li><a class="dropdown-item" href="/miempresa">Mi empresa</a></li>
            <li><a class="dropdown-item" href="/contratos">Mis contratos</a></li>
            <li><a class="dropdown-item" (click)="cerrarsesion()" style="cursor: pointer;">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="row ps-md-2 ps-3 w-100">
  <div class="col-md-1 d-flex justify-content-center align-items-center flex-md-column">
    <div class="menu-item mx-1">
      <a href="/contratos"><i class="bi bi-house-door-fill"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/calendario"><i class="bi bi-calendar-check"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/contratistas"><i class="bi bi-people-fill"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/miempresa"><i class="bi bi-building-fill"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/miperfil"><i class="bi bi-person-fill"></i></a>
    </div>

  </div>
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Modal  --->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar contrato nuevo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="!empresa" class="m-0 text" >Estas a un paso de administrar tus contratos pero primero termina de crear tu perfil de empresa</p>
        <button *ngIf="!empresa" class="enviar" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Terminar mi datos de empresa</button>
        <form [formGroup]="formcontrato" (ngSubmit)="agregarcontrato()" *ngIf="empresa">
          <div class="mb-3 formulario-group">
            <label for="NombreContrato">Nombre del contrato</label>
            <input type="text" formControlName="nombre" placeholder="Ingresa el nombre del usuario">
          </div>
          <div class="row mb-3">
            <div class="col formulario-group">
              <label for="">Tipo de contrato</label>
              <select formControlName="tipo">
                <option value="Servicios">Servicios</option>
                <option value="Venta">Venta</option>
                <option value="Alquiler">Alquiler</option>
                <option value="Licencia">Licencia</option>
                <option value="Distribución">Distribución</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Asociación">Asociación</option>
              </select>
            </div>
            <div class="col">
              <label for="">Eligue un color para tu contrato</label>
              <div class="color-options">
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#FEE4CB" name="color">
                  <div class="color-circle" style="background-color: #FEE4CB;"></div>
                  <span>Color 1</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#FFD3E2" name="color">
                  <div class="color-circle" style="background-color: #FFD3E2;"></div>
                  <span>Color 2</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#E9E7FD" name="color">
                  <div class="color-circle" style="background-color: #E9E7FD;"></div>
                  <span>Color 3</span>
                </label>
                <label class="color-option">
                  <input type="radio" formControlName="color" value="#C8F7DC" name="color">
                  <div class="color-circle" style="background-color: #C8F7DC;"></div>
                  <span>Color 4</span>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-3 formulario-group">
            <label for="lugar">Lugar</label>
            <input type="text" formControlName="lugar" id="" placeholder="Ingresa el lugar del contrato">
          </div>
          <div class="row mb-3">
            <div class="col formulario-group">
              <label for="">Fecha de inicio del contrato</label>
              <input type="date" formControlName="fecha_inicio" id="">
            </div>
            <div class="col formulario-group">
              <label for="">Fecha de entrega del contrato</label>
              <input type="date" formControlName="fecha_entrega" id="">
            </div>
          </div>
          <div class="mb-3 formulario-group">
            <div *ngIf="!contratistas">
              <p>No cuentas con contratistas: Puedes registar nuevos contratistas <a class="agregar" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"> Aqui</a></p>
            </div>
            <div class="d-flex flex-column" *ngIf="contratistas">
              <label for="">Contratista</label>
              <select formControlName="id_contratista" id="contratista-select">
                <option *ngFor="let contratista of contratislista" [value]="contratista.idContratista">
                  {{contratista.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Crear contrato</button>
          </div>
        </form>
      </div>
      <div class="modal-footer" >
        <button type="submit" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="enviar" *ngIf="empresa">Agregar nuevo contratista</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  --->
<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalToggleLabel2">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo contratista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar3"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="!empresa" class="m-0 text" >Estas a un paso de administrar tus contratos pero primero termina de crear tu perfil de empresa</p>
        <button *ngIf="!empresa" class="enviar" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Terminar mi datos de empresa</button>
        <form action="" [formGroup]="formContratista" (ngSubmit)="agregarcontratista()" *ngIf="empresa">
          <div class="mb-3 formulario-group">
            <label for="NombreContrato">Nombre del contratista</label>
            <input type="text" placeholder="Ingresa el nombre del contratista" formControlName="nombre" name="nombre">
          </div>
          <div class="row mb-3">
            <div class="col formulario-group">
              <label for="NombreContrato">Edad</label>
              <input type="number" placeholder="Ingresa la edad del contratista" formControlName="edad" name="edad">
            </div>
            <div class="col formulario-group">
              <label for="NombreContrato">Ocupacion</label>
              <input type="text" placeholder="Ingresa la Ocupacion del contratista" formControlName="ocupacion" name="ocupacion">
            </div>
          </div>
          <div class="mb-3 formulario-group">
            <label for="Lugar">Domicilio</label>
            <input type="text" name="" id="" placeholder="Ingresa el domicilio del contratista" formControlName="domicilio" name="domicilio">
          </div>
          <div class="mb-3 formulario-group">
            <label for="Telefono">Telefono</label>
            <input type="text" name="" id="" placeholder="Ingresa el Telefono del contratista" formControlName="telefono" name="telefono">
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Agregar contratista</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="empresa">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  Crear empresa--->
<div class="modal fade" id="exampleModalToggle3" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalToggleLabel3">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear empresa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar2"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="formempresa" (ngSubmit)="agregarempresa()">
          <div class="mb-3 formulario-group">
            <label for="NombreContrato">Nombre de la empresa</label>
            <input type="text" placeholder="Ingresa el nombre de la empresa" formControlName="nombre" name="nombre">
          </div>
          <div class="row mb-3">
            <div class="col formulario-group">
              <label for="NombreContrato">Sector</label>
              <input type="text" placeholder="Ingresa el sector de la empresa" formControlName="sector" name="sector">
            </div>
            <div class="col formulario-group">
              <label for="NombreContrato">Ubicacion</label>
              <input type="text" placeholder="Ingresa la ubicacion de la empresa" formControlName="ubicacion" name="ubicacion">
            </div>
          </div>
          <div class="mb-3 formulario-group">
            <label for="Lugar">Correo</label>
            <input type="text" name="" id="" placeholder="Ingresa el correo de laempresa" formControlName="correo" name="correo">
          </div>
          <div class="mb-3 formulario-group">
            <label for="Telefono">Telefono</label>
            <input type="text" name="" id="" placeholder="Ingresa el telefono de la empresa" formControlName="telefono" name="telefono">
          </div>
          <div class="mb-3 formulario-group">
            <label for="Telefono">Sitio Web:</label>
            <input type="text" name="" id="" placeholder="Ingresa el sitio web de la empresa" formControlName="sitio_web" name="sitio_web">
          </div>
          <div class="mb-3 formulario-group">
            <label for="Telefono">Descripcion:</label>
            <textarea name="" id="" formControlName="descripcion" name="descripcion" ></textarea>
          </div>
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="enviar">Terminar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="notificaciones" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Notificaciones</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="p-3 border border-danger bg-danger-subtle" *ngIf="contratosProximos.length">
      <h5>Los proximos contratos a vencer son:</h5>
      <div *ngFor="let contratosP of contratosProximos" class="p-2 border border-danger-subtle my-2 border-opacity-75 rounded-2">
        <h5><a href="vista/:{{contratosP.contrato_data.idContrato}}" class="text-decoration-underline text-dark">{{contratosP.contrato_data.nombre}}</a></h5>
        <p class="fw-light m-0">Fecha de entrega: {{contratosP.contrato_data.fecha_entrega}}</p>
      </div>
    </div>
    <div class="p-3 border border-warning bg-warning-subtle mt-2" *ngIf="contratosCercanos.length">
      <h5>Los proximos contratos a vencer son:</h5>
      <div *ngFor="let contratosC of contratosCercanos" class="p-2 border border-warning-subtle my-2 border-opacity-75 rounded-2">
        <h5><a href="vista/:{{contratosC.contrato_data.idContrato}}" class="text-decoration-underline text-dark">{{contratosC.contrato_data.nombre}}</a></h5>
        <p class="fw-light m-0">Fecha de entrega: {{contratosC.contrato_data.fecha_entrega}}</p>
      </div>
    </div>
    <div class="p-3 border border-success bg-success-subtle mt-2" *ngIf="contratosConTiempo.length">
      <h5>Los proximos contratos cercanos son:</h5>
      <div *ngFor="let contratosT of contratosConTiempo" class="p-2 border border-success-subtle my-2 border-opacity-75 rounded-2">
        <h5><a href="vista/:{{contratosT.contrato_data.idContrato}}" class="text-decoration-underline text-dark">{{contratosT.contrato_data.nombre}}</a></h5>
        <p class="fw-light m-0">Fecha de entrega: {{contratosT.contrato_data.fecha_entrega}}</p>
      </div>
    </div>
  </div>
</div>

<div class="overlay z-2" *ngIf="cargando || empresacreada"></div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border" style="z-index:9999" *ngIf="cargando">
  <h3>Cargando</h3>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3"  *ngIf="empresacreada">
  <h3>Empresa Creada</h3>
  <div>
    <i class="bi bi-check-circle text-success" style="font-size: 3rem;"></i>
  </div>
  <button class="enviar" (click)="terminar()">Terminar</button>
</div>
