<nav class="row ps-md-5 py-md-4 py-3 ps-1 w-100">
  <div class="col-md-4 d-flex align-items-center">
    <div class="container_img">
      <img src="Logo.png" alt="">
    </div>
    <h1 class="ms-3 titulo">sign sync</h1>
  </div>
  <div class="col-md-4 p-md-4 my-2 my-md-0">
    <div class="bg-white rounded-4 p-2">
      <input type="text" name="" id="" class="bg-none input_busqueda rounded-4" placeholder="Buscar">
      <i class="bi bi-search my-2 d-none d-lg-inline-block"></i>
    </div>
  </div>
  <div class="col-md-4 row p-md-4 justify-content-center align-items-center my-2 my-md-0">
    <div class="col-5 col-md-4 iconos_menu border-end border-light-subtle border-2">
      <i class="bi bi-moon mx-1 "></i>
      <i class="bi bi-plus-circle mx-1"></i>
      <i class="bi bi-bell mx-1"></i>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="container_perfil rounded-circle">
        <img src="default.jpg" alt="" class="w-100 rounded-circle">
      </div>
      <div class="dropdown">
        <p class="m-0 ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dianis Fotografía
        </p>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Mi perfil</a></li>
          <li><a class="dropdown-item" href="#">Mi empresa</a></li>
          <li><a class="dropdown-item" href="#">Mis contratos</a></li>
          <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="row ps-5 mx-o w-100">
  <div class="col-md-1 d-flex justify-content-center align-items-center flex-column">
    <div class="menu-item">
      <i class="bi bi-house-door-fill"></i>
    </div>
    <div class="menu-item">
      <i class="bi bi-calendar-check"></i>
    </div>
    <div class="menu-item">
      <i class="bi bi-pie-chart-fill"></i>
    </div>
    <div class="menu-item">
      <i class="bi bi-gear"></i>
    </div>
  </div>
  <div class="col-md-11">
    <app-vista-contrato></app-vista-contrato>
  </div>
</div>
